<div>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Length</th>
			<th>Rating</th>
			<th></th>
		</tr>
		<tr ng-repeat="movie in model.movies">
			<td>{{movie.title}}</td>
			<td>{{movie.length}}</td>
			<td><rating value="movie.rating"></rating></td>
			<td>
				
				<button class="btn btn-default" ng-click="model.up(movie)">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				<button class="btn btn-default" ng-click="down(movie)">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
				<a ng-link="['Det',{id:movie.id}]" class="btn btn-default">
					<span class="glyphicon glyphicon-zoom-in"></span>
				 </a>
				
			</td>
		</tr>
	</table>
</div>